			<div class="container-fluid">
				<div id="navigation">
					<!-- Navigation Menu -->
					<ul class="navigation-menu">
						
						<li class="has-submenu">
							<a href="/md/crm_main.asp"><i class="md md-dashboard"></i>홈</a>
						</li>
						
						<li class="has-submenu">
							<a href="#"><i class="md md-pages"></i>자료요청</a>
							<ul class="submenu megamenu">
								<li style="width:250px;">
									<ul>                                        
										
										<li style="padding:8px 25px;">자료요청 자동화</li>
										<li style="padding-left:20px;"><a href="/md/request/crm_request_A1001.asp"> 회원가입/구매정보 </a></li> 
										<li style="padding-left:20px;"><a href="/md/request/crm_request_A1002.asp"> 할인쿠폰지급/사용</a></li>
										<hr style="padding:2px; margin:5px 0px 0px 0px; ">
										
										<li><a href="/md/request/crm_request_list_user.asp">자료요청 리스트</a></li>
										<li><a href="/md/request/crm_request_write.asp">자료요청 등록</a></li>
										<li><a href="/md/request/crm_request_stats.asp">자료요청 통계</a></li>
										
										<hr style="padding:2px; margin:5px 0px 0px 0px; ">
										<li><a href="/md/request/noti_request_stat.asp">알림톡 데이터 리스트</a></li>
										<li><a href="/md/request/noti_request_list.asp">알림톡 데이터 등록</a></li>
										

									</ul>
								</li>
							</ul>
						</li>
					
						<li class="has-submenu">
							<a href="#"><i class="fa fa-envelope"></i>SMS</a>
							<ul class="submenu megamenu">
								<li>
									<ul>
										<li><a href="/md/sms/crm_sms_result_list.asp">SMS발송 결과 리스트</a></li>										
										<li><a href="/md/sms/crm_sms_daily_count.asp">SMS발송 현황</a></li>										
										<!--
										<li><a href="/sms/crm_sms_daily_count_agg.asp">SMS발송 기간집계</a></li>										
										<li><a href="/sms/crm_sms_daily_count_agg_spr.asp">수신건수별 회원분포</a></li>										
										-->
									</ul>
								</li>
							</ul>
						</li>						
											
					   <li class="has-submenu">
							<a href="#"><i class="md md-people"></i>회원현황</a> 
							<ul class="submenu">							
								<li style="width:230px;">
									<ul>
										<li style="padding-bottom:5px; height:28px;"><a href="/md/member/member_index.asp">단기별 회원 현황 </a></li>
										<li style="padding-left:20px; height:25px;"><a href="/md/member/member_daily_count.asp" style="font-size: 12px; color:#7F9199;"> 일별회원현황 (가입/휴면/탈퇴)</a></li> 
										<li style="padding-left:20px; height:25px;"><a href="/md/member/member_info_count.asp"   style="font-size: 12px; color:#7F9199;"> 기본정보현황 (성별/연령/지역)</a></li>
										<li style="padding-left:20px; height:25px;"><a href="/md/member/member_login_index.asp"   style="font-size: 12px; color:#7F9199;"> 로그인현황 </a></li>
										<hr style="padding:2px; margin:8px 0px 0px 0px; "> 																				
										<li><a href="/md/member/member_email_acnt.asp">이메일계정 전환/가입현황</a></li>															
										<li><a href="/md/member/member_sms.asp">SMS 수신동의 회원 현황</a></li>	
										<li><a href="/md/member/member_gather.asp">사용자 정보 수집리스트</a></li>															
									</ul>
								</li>															
							</ul>
						</li>
												
					</ul>
					<!-- End navigation menu -->
				</div>
			</div>
